/*
**  Header
*/

body {
    padding: 0 5vw;
}

header {
    display: grid;
    grid-template-rows: 10vh 5vh;
    grid-template-columns: 90vw;
}

main {
    padding: 5vh 0;
}

.demo {
    display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 45vw 45vw;
}